@keyframes showing {
  from {
    opacity: 0.5;
    top: 55%;
  }
  to {
    opacity: 1;
    top: 50%;
  }
}

/** my post */
.mypost-container {
  margin-left: 30px;
  margin-top: 5px;
  margin-bottom: 100px;
  width: 900px;
  min-height: 1000px;
  max-height: 1200px;
  padding: 30px;
  background-color: white;
  box-shadow: 1px 1px 5px rgb(0 0 0 / 20%);
  border-radius: 10px;
  overflow-y: auto;
}
.mypost-container h3 {
  cursor: pointer;
  background-color: var(--bgcolor-default);
  padding: 10px;
}
.fold-toggle-btn {
  margin-left: 10px;
}

.mypost-post-wrapper,
.mypost-match-wrapper,
.mypost-used-wrapper {
  box-shadow: 1px 1px 5px rgb(0 0 0 / 20%);
  width: 100%;
  margin: 30px 0;
}

.mypost-post-container,
.mypost-match-container,
.mypost-used-container {
  /* background-color: yellow; */
  overflow-y: auto;
  height: 300px;
  height: 0;
  transition: 0.4s;
}

/** my pet */
.mypet-container {
  margin-left: 30px;
  margin-top: 5px;
  width: 900px;
  min-height: 600px;
  max-height: 1200px;
  padding: 30px;
  background-color: white;
  box-shadow: 1px 1px 5px rgb(0 0 0 / 20%);
  border-radius: 10px;
  overflow-y: auto;
}
.add-container {
  position: relative;
  margin: 30px 0;
  width: 100%;
  text-align: center;
  background-color: white;
  z-index: 2;
}
.add-pet-btn {
  color: var(--font-light);
  cursor: pointer;
  transition: 0.3s;
  height: 50px;
}
.add-pet-btn:hover {
  color: black;
}
.ppp {
  display: block;
  font-size: 18px;
  position: relative;
  bottom: 40px;
  text-align: center;
  position: relative;
  bottom: 70px;
  z-index: 1;
  transition: 0.3s;
}
