.header-container {
  width: 800px;
  height: 50px;
  line-height: 50px;
  background-color: #ffffff;
  box-shadow: 10px 10px 30px #d9d9d9, -10px -10px 30px #ffffff;
  border-radius: 5px;
  margin: 20px auto 0 auto;
  padding: 0 10px;

  display: flex;
  justify-content: space-between;
}
.header-logo-container {
  width: 100px;
  height: 50px;
}
.header-logo-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#header-search-icon,
#header-home-icon,
#header-post-icon,
#header-mathching-icon,
#header-market-icon,
#header-mypage-icon {
  font-size: 22px;
  margin: 15px 7px 0 7px;
  color: var(--font-dark);
  cursor: pointer;
  transition: 0.3s;
}
#header-search-icon:hover,
#header-home-icon:hover,
#header-post-icon:hover,
#header-mathching-icon:hover,
#header-market-icon:hover,
#header-mypage-icon:hover {
  color: var(--accent-default);
}

.main-search {
  position: relative;
  bottom: 3px;
  width: 200px;
  height: 30px;
  margin: 0 10px 0 0;
  padding: 0 10px;
  border: 1px solid white;
  background-color: var(--bgcolor-default);
  transition: 0.3s;
}
.main-search:focus {
  border: 1px solid var(--accent-default);
  background-color: white;
}
